:root {
    --accentR: 0;
    --accentG: 255;
    --accentB: 0;
    --accent: rgb(var(--accentR), var(--accentG), var(--accentB));
    --hover: rgba(var(--accentR), var(--accentG), var(--accentB), 0.3);
}

html {
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
}

body {
    margin: 0;
    color: var(--accent);
    background-color: black;
    text-align: left;
}

a, a:visited {
    text-decoration: none;
    color: var(--accent);
}

button {
    background-color: transparent;
    color: var(--accent);
    border: 1px solid var(--accent);
    font-size: 1rem;
    width: 20vw;
    height: 6vh;
    padding: 0;
}

button.download {
    width: 100%;
    margin-top: auto;
}

:is(button, .fileTracker):hover {
    background-color: var(--hover);
}

.container {
    height: 100vh;
    padding: 5vh 0;
    box-sizing: border-box;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: min(35ch, 90vw);
}

.fileList {
    width: 100%;
    max-height: 80vh;
    overflow: auto;
}

p {
    margin: 0;
}

.flexLast {
    margin-top: auto;
}

div.dragStarted {
    background-color: #222;
}

.fileTracker {
    min-height: 2ch;
    border: 1px solid var(--accent);
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    display: flex;
    user-select: none;
}

.fileTracker:not(:last-child) {
    border-bottom: none;
}

.fileTracker:hover:not(.download) {
    text-decoration: line-through;
}

.progressMatrix {
    display: grid;
    align-content: center;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
}

.matrix {
    aspect-ratio: 1 / 1;
    outline: 1px solid var(--accent);
    margin: 0 1px 1px 0;
    transition: background-color 0.2s;
}

.downloadLink {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 5rem;
    color: var(--accent);
}

.countdown {
    font-size: 2rem;
    margin-bottom: 5vh;
}