:root {
    --accent: #7734c4;
    --accentHover: #501d8a;
    --background: #181818;
}

html {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-family: monospace;
    text-align: center;
}

body {
    background-color: var(--background);
    transition: background-color .2s;
    color: white;
    margin: 0;
    padding: 3rem;
}

#dropZone {
    height: 100%;
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--accent);
}

.hide {
    display: none;
}

#filePicker {
    border: 5px solid var(--accent);
    border-width: 5px 5px 0 5px;
    width: 15rem;
    height: 4rem;
    margin: 0 auto;
    background-color: var(--background);
    transition: background-color .2s;
    box-sizing: border-box;
}

#filePicker:hover {
    background-color: black;
}

input {
    font-size: 1rem;
    width: 15rem;
    margin: 0 auto;
    background-color: var(--background);
    border: 5px solid var(--accent);
    border-width: 5px 5px 0 5px;
    color: white;
    text-align:center;
    transition: background-color .2s;
}

input:hover {
    background-color: black;
}

.sendButton {
    border: none;
    width: 15rem;
    background-color: var(--accent);
    margin: 0 auto;
    padding: 0.3rem 0;
    color: white;
    transition: background-color .2s;
}

.blackbg {
    background-color: black;
}